# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Susmita Pal\Desktop\My Projects\Django\JPMG CFG Hackathon\team-72\cfg_project_72\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
